@{
    ViewBag.Title = "Pricing - Norfolk Breaks";

    ViewBag.Description = "Norfolk Breaks - Holiday Lettings, Evening Glory, Brundall";
}
<div class="HomeContainer">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1> PRICING <br class="hidden-sm hidden-md hidden-lg" /><small></small></h1>
            </div>

        </div>
   


    </div>
    <div class="row">

        <div class="col-sm-9">
            <p><br />
                See your downloadable prices lists for pricing, If you have any question's get in touch.
            
                <br /><br />
                <a class="btn btn-primary btn-lg" href="~/Upload_Files/Evening_Glory/Pricing/Evening Glory rates 2018.xlsx">Download The Evening Glory Price Guide&nbsp;&nbsp;<i class="fa fa-download" aria-hidden="true"></i></a>
          



            </p>  <br />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive hidden-xs" src="~/Images/logo.png" />
        </div>
    </div>
        </div>
